<%- include("../partials/header") %>
<h3>Enter your skill name, level and period of experience.</h3>
<form action="/skills" method="POST" autocomplete="off">
    <div><label>
        Skill Name: <input type="text" name="name">
    </label></div>
    <div><label>
        Skill level: <input type="text" name="level">
    </label></div>
    <div><label>
        How long: <input type="text" name="experience">
    </label></div>
    <div>
        <button type="submit">Save my skill</button>
    </div>
</form>  
<%- include("../partials/footer") %>